<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ajout de recette</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ajout"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Nouvelle de recette</h2>
<ion-item>
  <ion-label position="floating">Titre</ion-label>
  <ion-input [(ngModel)]="recette.titre"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Image URL</ion-label>
  <ion-input [(ngModel)]="recette.image_url" type="url"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Description</ion-label>
  <ion-textarea [(ngModel)]="recette.description"></ion-textarea>
</ion-item>

<ion-list>
  <ion-item *ngFor="let ingredient of ingredientS$ | async">
    <ion-label>{{ingredient.nom_ingredient}}</ion-label>
    <ion-checkbox [(ngModel)]="selectedIngredients.isSelected[ingredient.id]"></ion-checkbox>
    <ion-input *ngIf="selectedIngredients.isSelected[ingredient.id]" [(ngModel)]="selectedIngredients.quantity[ingredient.id]"></ion-input>
    
  </ion-item>
</ion-list>


 <!-- Ajout des instructions -->
 <ion-item>
  <ion-label position="floating">Nouvelle instruction</ion-label>
  <ion-input [(ngModel)]="NewInstruction" name="newInstruction"></ion-input>
</ion-item>
<ion-button (click)="addInstruction()" type="button">Ajouter Instruction</ion-button>

<!-- Liste des instructions -->
<ion-list>
  <ion-item *ngFor="let instruction of recette.instructions; let i = index">
    <ion-label>{{ instruction }}</ion-label>
    <ion-button color="danger" (click)="removeInstruction(i)" fill="clear" slot="end">
      Supprimer
    </ion-button>
  </ion-item>
</ion-list>

<button (click)="addRecette()">Ajouter</button>
</ion-content>
