<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ajout"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajout de recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Titre de la section -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nouvelle Recette</ion-card-title>
      <ion-card-subtitle>Ajoutez les détails de votre recette</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- Formulaire de création de recette -->
  <ion-card>
    <ion-card-content>
      <!-- Titre -->
      <ion-item>
        <ion-label position="floating">Titre</ion-label>
        <ion-input [(ngModel)]="recette.titre" type="text" ></ion-input>
      </ion-item>

      <!-- Image Camera -->
      <ion-item lines="none">
        <ion-label>Image</ion-label>
        <ion-button (click)="handleCamera()" color="primary" fill="outline" slot="end">
          Prendre une photo
        </ion-button>
      </ion-item>
      <div *ngIf="imagePreview" class="image-preview">
        <img [src]="imagePreview" alt="Aperçu de l'image" />
      </div>

      <!-- Description -->
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="recette.description" ></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Liste des ingrédients -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingrédients</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list style="max-height: 15vh; overflow-y: auto;">
        <ion-item *ngFor="let ingredient of ingredientS$ | async">
          <ion-checkbox [(ngModel)]="selectedIngredients.isSelected[ingredient.id]" slot="start"></ion-checkbox>
          <ion-input
            *ngIf="selectedIngredients.isSelected[ingredient.id]"
            [(ngModel)]="selectedIngredients.quantity[ingredient.id]"
            type="text"
            placeholder="Quantité"
            class="custom-input"
          ></ion-input>
          <ion-label>{{ ingredient.nom_ingredient }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  

  <!-- Instructions -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Instructions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nouvelle Instruction</ion-label>
        <ion-input [(ngModel)]="NewInstruction" name="newInstruction" ></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="addInstruction()" color="secondary">
        Ajouter Instruction
      </ion-button>

      <ion-list>
        <ion-item *ngFor="let instruction of recette.instructions; let i = index">
          <ion-label>{{ instruction }}</ion-label>
          <ion-button
            color="danger"
            fill="clear"
            slot="end"
            (click)="removeInstruction(i)"
          >
            Supprimer
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Bouton Ajouter Recette -->
  <ion-button expand="block" (click)="addRecette()" color="success">
    Ajouter la recette
  </ion-button>
</ion-content>
