.image-preview {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .image-preview img {
    max-width: 5em; /* Permet à l'image de s'adapter à son conteneur */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .custom-input {
    text-align: center;
    border: 1px solid #1a65eb;
    border-radius: 20px;
    padding-left: 8px;
    margin-right: 10px;
    width: 50%; /* Ajuste la largeur en fonction de l'espace disponible */
  }
  
  