<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="recette-list" href="/recette-list">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Recettes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ajout" href="/tab2">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
      <ion-label>Ajout</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoris" href="/tab3">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
