<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des Favoris
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="favoris-grid">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let fav of favoris$ | async">
        <ion-card class="favoris-card" [routerLink]="['/recette', fav.id]">
          <ion-img [src]="fav.image_url" [alt]="fav.titre" class="favoris-image"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ fav.titre }}</ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>