<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des Recettes
    </ion-title>
      
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="recette-grid">
    <ion-row>
      <ion-col size="12" *ngFor="let recette of recettes$ | async">
        <ion-card class="recette-card" [routerLink]="['/recette', recette.id]">
          <ion-img [src]="recette.image_url" [alt]="recette.titre" class="recette-image"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ recette.titre }}</ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
